@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow');
.content {
  background: #f9f9f9;
  display: grid;
  grid-auto-rows: 1fr;
  font-size: 2vw;
  vertical-align: middle;
  font-family: 'PT Sans Narrow', sans-serif;
}

.list {
  margin-left: 12vw;
  padding: 10px;
}
.link:nth-child(odd) {
  background: rgb(226, 229, 226);
}
